# Ch1 Int

**Definition:** A <u>recomendation system</u> refers to a whole system that provides users with recommendation including the user interface, user profile data, an item catalog, a recommendation engine, feedback collection mechanism, and an evaluation mechanism. 

**Definition:** A <u>recommendation engine</u> is the algorithmic calculation mechanism.


Feedback types: 
1. Explicit feedback
    - ratings, likes, dislikes, comments... companies try hard to get users to generate this. 
2. Implicit feedback
    - pages viewed/visited, clicks, Caputred through cookies and browsing history.

## Engine types:

### Market basket anaysis 

(aka association rule mining) 

This engine type focuses on relationships between items. 

**Definition:** An <u>association rule</u> is an relation between items that is usedin a recommender system.

Relationships are usu written with arrows, e.g. {bread}->{butter}. Terminology: {antecedent}->{consequent}. Both antecedents and consequents can have multiple items; e.g. {bread, milk}->{butter, chips}. 
     
**Definition:** The <u>support</u> of a association rule is the relative frequency of that rule. 

A large value of support is often desirable in the relations you make into association rules, but sometimes helpful "hidden relationships" with low support are out there. 

**Definition:** The <u>confidence</u> of an association rule is the frequency with which the rule is followed. 

e.g. The rule {milk}->{bread} has confidence .5 if, of the times that milk is bought, bread is also bought .5 of the time. 

**Definition:** The <u>lift</u> $L(A \to B)$ of the association rule $A\to B$ is the ratio of the support of the rule to the product of the relative frequency of A and B; $L(A \to B)= \frac{P(A \wedge B)}{P(A)P(B)}$. 

That is, lift is a measure of how many times higher the (emperical) probability is than the probability under the assumption of independence. Note that this can be expressed as $L(A\to B) = \frac{P(A|B)}{P(A)} = \frac{P(B|A)}{P(B)}$, the factor of increase by conditioning on B. 

e.g. Of all purchases, A is bought with B is bought 2/5 of the time. Of all purchases, A is bought with 3/5 of the time and $B$ is bought 4/5 of the time. Thus the support of the association rule $A\to B$ is 2/3, the "support" of A and B are 2/5 and 3/5, and the lift of the association rule $A\to B$ is 
$$
\frac{\text{support}(A\to B)}{\text{support}(A) \text{support}(B)}
=\frac{\frac25}{\frac35 \frac 45} 
=\frac{10}{12}.
$$

### Content Based Filtering

Suggests similar items to the items a user has previously shown interest in. 

### Collaborative-Based Filtering

User to user similarity is considered. Cosine, euclidean, etc distance between users is measured based on profile vectors.  A profile vector for a user summarizes explicit and implicit feedback. Once similar users are found , items that similar users have purchased but that the target user has not are identified. 
- user-user collaborative filtering: find user similarities. Computationally expensive for large sets of users since the features of users change in time. 
- item-item collaborative filtering: find item similarities. For each user, a similarity matrix is generated from items the user has previously chosen. Items from outside that list are identified and chosen.

### Hybrid Content-Collaborative
uses both content and collaborative based. A structure called a combiner is needed to mix the results of the two approaches. 
### ML Clustering

Unsupervised identification of 
- similar users,
- similar items 

This is not a good choice when data about a user is sparse. 

Clustering algorithms that are popular:
- k-means
- fuzzy mapping
- self organizing maps (SOM)
- hybrid of the above.

### ML Classification

"buyer propensity model" predicts the chances of 
- a customers buying a particular item 
- a sales lead will become a sale 

### Deep Learning

## Rule Based RS 

You can recommend based on 
- most popluar globally
- most popular in your area
- buy again (most popular from you)

# 2 Market Basket Analysis 

aka Association Rule Mining, begins with a record of purchases that includes sets of items bought together, as in the following table. 

| Purchase ID | Items Purchased|
|-----------------|-----------------|
| <center>1</center> | {bread, milk}|
| 2 | {bread, diapers, eggs, beer} |
| 3 | {milk, bread, diapers, cola} |
| &vellip; | &vellip; |

From this, we make a sparse matrix of 0,1 booleans for invoice vs item we call the `basket`.

In [2]:
import pandas as pd

basket = pd.read_csv("Chapter - 2/basket",index_col=0)

In [3]:
print(basket.sum())
basket.head()

 4 PURPLE FLOCK DINNER CANDLES       36
 50'S CHRISTMAS GIFT BAG LARGE      109
 DOLLY GIRL BEAKER                  133
 I LOVE LONDON MINI BACKPACK         68
 I LOVE LONDON MINI RUCKSACK          1
                                   ...
ZINC T-LIGHT HOLDER STARS SMALL     237
ZINC TOP  2 DOOR WOODEN SHELF         9
ZINC WILLIE WINKIE  CANDLE STICK    188
ZINC WIRE KITCHEN ORGANISER          12
ZINC WIRE SWEETHEART LETTER TRAY     20
Length: 3877, dtype: int64

,4 PURPLE FLOCK DINNER CANDLES,50'S CHRISTMAS GIFT BAG LARGE,DOLLY GIRL BEAKER,I LOVE LONDON MINI BACKPACK,I LOVE LONDON MINI RUCKSACK,NINE DRAWER OFFICE TIDY,OVAL WALL MIRROR DIAMANTE,RED SPOT GIFT BAG LARGE,SET 2 TEA TOWELS I LOVE LONDON,SPACEBOY BABY GIFT SET,...,ZINC STAR T-LIGHT HOLDER,ZINC SWEETHEART SOAP DISH,ZINC SWEETHEART WIRE LETTER RACK,ZINC T-LIGHT HOLDER STAR LARGE,ZINC T-LIGHT HOLDER STARS LARGE,ZINC T-LIGHT HOLDER STARS SMALL,ZINC TOP 2 DOOR WOODEN SHELF,ZINC WILLIE WINKIE CANDLE STICK,ZINC WIRE KITCHEN ORGANISER,ZINC WIRE SWEETHEART LETTER TRAY
InvoiceNo,,,,,,,,,,,,,,,,,,,,,
536365,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536366,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536367,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536368,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
536369,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
str()

3877

We restrict our attention to a subset of the basket; rows that have a 1 for `'WOODEN STAR CHRISTMAS SCANDINAVIAN'`

In [5]:
small_basket = basket[basket['WOODEN STAR CHRISTMAS SCANDINAVIAN']==1]

The MLxTend library has tools for common data science tasks, including calculating apriori values  like support.

In [6]:
from mlxtend.frequent_patterns import apriori, association_rules


frequent_itemsets = apriori(
    small_basket, 
    min_support=0.15, 
    use_colnames=True)

frequent_itemsets.tail()

/opt/anaconda3/envs/rs_book_env/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
20  0.521940  (WOODEN TREE CHRISTMAS SCANDINAVIAN, WOODEN ST...
21  0.163972  (ZINC FOLKART SLEIGH BELLS, WOODEN STAR CHRIST...
22  0.177829  (PAPER CHAIN KIT 50'S CHRISTMAS , WOODEN HEART...
23  0.152425  (WOODEN STAR CHRISTMAS SCANDINAVIAN, WOODEN HE...
24  0.420323  (WOODEN TREE CHRISTMAS SCANDINAVIAN, WOODEN HE...

The antecedents and consequents for the rules along with some handy numbers are provided by MLxTEnd's `association_rules` function.

In [7]:
wooden_star_rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
# sort
wooden_star_rules = wooden_star_rules.sort_values(['lift','support'],ascending=False).reset_index(drop=True)
wooden_star_rules.head()

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(WOODEN TREE CHRISTMAS SCANDINAVIAN),(WOODEN HEART CHRISTMAS SCANDINAVIAN),0.521940,0.736721,0.420323,0.805310,1.093101,0.035799,1.352299,0.178160
1,(WOODEN HEART CHRISTMAS SCANDINAVIAN),(WOODEN TREE CHRISTMAS SCANDINAVIAN),0.736721,0.521940,0.420323,0.570533,1.093101,0.035799,1.113147,0.323501
2,"(WOODEN TREE CHRISTMAS SCANDINAVIAN, WOODEN ST...",(WOODEN HEART CHRISTMAS SCANDINAVIAN),0.521940,0.736721,0.420323,0.805310,1.093101,0.035799,1.352299,0.178160
3,"(WOODEN HEART CHRISTMAS SCANDINAVIAN, WOODEN S...",(WOODEN TREE CHRISTMAS SCANDINAVIAN),0.736721,0.521940,0.420323,0.570533,1.093101,0.035799,1.113147,0.323501
4,(WOODEN TREE CHRISTMAS SCANDINAVIAN),"(WOODEN HEART CHRISTMAS SCANDINAVIAN, WOODEN S...",0.521940,0.736721,0.420323,0.805310,1.093101,0.035799,1.352299,0.178160

We generalize from the wood star.

In [8]:
def frequently_bought_together(item, n=6):
    """
    Return the n items which are frequently bought input item.
    """
    # df of item passed
    item_df = basket.loc[basket[item]==1]
    # Applying apriori algorithm on item df
    frequent_itemsets = apriori(item_df, min_support=0.15, use_colnames=True)
    
    # Storing association rules
    rules = association_rules(frequent_itemsets, metric="lift", min_threshold=1)
    
    # Sorting on lift and support
    rules.sort_values(['lift','support'],ascending=False).reset_index(drop=True)
    
    print('Items frequently bought together with {0}'.format(item))
    
    # Returning top 6 items with highest lift and support
    return rules['consequents'].unique()[:6]

rules = frequently_bought_together('WOODEN STAR CHRISTMAS SCANDINAVIAN')

Items frequently bought together with WOODEN STAR CHRISTMAS SCANDINAVIAN

/opt/anaconda3/envs/rs_book_env/lib/python3.12/site-packages/mlxtend/frequent_patterns/fpcommon.py:110: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

NetworkX can visualize graphs. we will Color the items yellow and relations green.

In [9]:
import networkx as nx
import numpy as np

G1 = nx.DiGraph()
no_of_rules = 5
color_map=[]
N = 50
pos =dict()
colors = np.random.rand(no_of_rules) #(N)    
strs= [] 

for i in range (no_of_rules):      
    # adding as many nodes as number of rules requested by user
    st = "R"+str(i)
    strs.append(st)
    G1.add_nodes_from([st])
    pos[st] = [1,i]


    # adding antecedents to the nodes 
    for a in wooden_star_rules.iloc[i]['antecedents']:                
        G1.add_nodes_from([a], color='blue')
        pos[a] = [0, i]
        G1.add_edge(a, st, 
                    color=colors[i] , weight = 2)

    # adding consequents to the nodes
    for c in wooden_star_rules.iloc[i]['consequents']:         
            G1.add_nodes_from([c])
            pos[c] = [2,i]
            G1.add_edge(st, c, 
                        color=colors[i],  weight=2)

# Color the items yellow and relations green. 
for node in G1:
    found_a_string = False
    for item in strs: 
        if node==item:
            found_a_string = True
    if found_a_string:
        color_map.append('yellow')
    else:
        color_map.append('green')       

colors = [G1[u][v]['color'] for u,v in edges]
weights = [G1[u][v]['weight'] for u,v in edges] 
pos = nx.spring_layout(G1, k=16, scale=1)
nx.draw(
    G1, 
    # pos=nx.spring_layout(G1),
    # pos, 
    # edges=edges, 
    node_color = color_map, 
    edge_color=colors, 
    width=weights, 
    font_size=26, 
    with_labels=False)            

# for p in pos:  # raise text positions
#        pos[p][1] += 0.07
        
nx.draw_networkx_labels(G1, pos);

NameError: name 'edges' is not defined

Note that R3 has two antecedents and one consequent.

# 3 Content Based

Content based recommender systems make recommendations based on the similarity of description of items. To do this, the descriptions must be translated into vectors and similar vectors must be chosen. 

There are classical ways of embedding words based on word counts; 
- one hot encoding is just boolean. 
- CountVectorizer gives token counts. 
- TF-IDF is the more sophisticated option. 

But to capture semantic content we should use more than just counts of words.

The folowing are embedding tools that capture semantics that we will use:
- Word2vec
- GloVe 
- fastText

There are others:
- Elmo
- SentenceBERT
- GPT

## Word2vec

This is a 2 layer NN that produces an embedding. 

It is trained with two parts. Those parts have the following in common:
- assign a unique index to each word in the corpus
- generate training samples by sliding widow of width n words
- words -> vectors with current embedding
The parts are then two NNs, each with a single hidden layer.
1. Continuous Bag Of Words (CBOW) 
    - remove a word, ask the NN to predit the word
    - update embedding to minimize prediction error
    - thereby approach an embedding that captures semantics by optimized interpolatin of words.
2. Skip-Gram
    - take a word and use it as input to the NN to predict the other words
    - update embedding to minimize prediction error
    - thereby approach an embedding that captures semantics by optimized extrapolation of words (in both directions).

The resulting embedding has codomain a vector space of dimension equal to the number of unique words in the corpus. This is often chosen to be a few hundred. Words that share common contexts in the corpus are located closely in the vector space. 

Word2vec is computationally efficient in the task of creating an embedding from raw text in a corpus in a way that captures semantic meaning in that corpus.

## fastText

This extension of Word2vec represents each word as a n-gram. e.g. with n=3 the word "artificial" is represented as <ar, art, rti, tif, ifi, fic, ici, ial, al>, where the angular brackets indicate the beginning and end of the word. This helps capture prefixes and suffixes. It is also able to handle rare and not-seen-before words to a better extent. 

FastText thus finds embeddings for subwords.

## GloVe

Global Vectors for Word Representation is not a NN; it uses co-occurance statistics. 

Consider the following corpus consisting of one document

```text
Roses are red. Sky is blue.
```

With a sliding window of size 3 we have the following matrix as below:

|         | roses | are | red | sky | is | blue |
|---------|-------|-----|-----|-----|----|------|
| roses   | 0     | 1   | 1   | 0   | 0  | 0    |
| are     | 1     | 0   | 2   | 1   | 1  | 1    |
| red     | 1     | 2   | 0   | 2   | 1  | 1    |
| sky     | 0     | 1   | 2   | 0   | 2  | 1    |
| is      | 0     | 1   | 1   | 2   | 0  | 1    |
| blue    | 0     | 1   | 1   | 1   | 1  | 0    |

- Co-occurrence matrix is word by word, with entries the count of times two words appear in the same window of words slid across the documents in the corpus. 
- word frequencies are also used. 
- Training is finding an embedding that makes the dot product of word embeddings equal to the log of the co-occurance ratios; if $\phi$ is the embedding and $C$ the co-occurance ratio 
$$
\phi^* = \underset{\phi}{\text{argmax}} 
\sum_{u,v}\Vert \langle \phi(u) | \phi(u) \rangle - \log(C(u,v))\Vert
$$
- Since the co-occurance is across the entire corpus, the information is global, not local to the window. (This sounds dumb).

## Summary 

Any way you generate embeddings, the idea is to use vector similarity to identify similar item descriptions, and thus similar items. Similarity of vectors can be angle, cosine, euclidean, manhattan, or other. I presume that there are reasons for these choices in different contexts, but have yet to encounter those reasons.

# 4 Collaborative Filtering

Collaborative filtering has two technique types
1. Memory Based Aproach
2. Model based approach

## Memory Based Approaches

**Definmition:** The <u>memory based approach</u> to recommender systems uses a record of user-item interactions to generate recommendations. 

There are two kinds of memory based approach;
- user-to-user generates recommendations for a user based on what users with similar user-item interactions has interacted with that the user has not. 
    - a user-vs-item matrix has rows that represent a user, and the cosine similarity between rows is similarity between users. 
- item-to-item memory based approach generates recommendations for a user based on items 
    - a user-vs-item matrix has columns that represent an item, and cosine similarity between is similarity between items. 

The user-vs-item matrix can be boolean "purchased", can be rating, etc. 

In either case, performance degrades with sparse data, so a large amount of data is required when there are a large number of items.

The Library Surprise is a Python scikit for building and analyzing recommender systems. It provides a simple and intuitive API to create and evaluate collaborative filtering models.

### User to user Implementations

From purchase history vector similarity

Goal: make a matrix with customers vs items and entries a boolean for "bought". 

We start with a history of trasnactions that include item codes (`StockCode`) and User IDs (`CustomerID`).

In [11]:
data1 = pd.read_csv("./Data/purchase_data.csv", index_col=0)
data1.head()

,InvoiceNo,StockCode,Quantity,InvoiceDate,DeliveryDate,Discount%,ShipMode,ShippingCost,CustomerID
0,536365,84029E,6,2010-12-01 08:26:00,2010-12-02 08:26:00,0.20,ExpressAir,30.12,17850
1,536365,71053,6,2010-12-01 08:26:00,2010-12-02 08:26:00,0.21,ExpressAir,30.12,17850
2,536365,21730,6,2010-12-01 08:26:00,2010-12-03 08:26:00,0.56,Regular Air,15.22,17850
3,536365,84406B,8,2010-12-01 08:26:00,2010-12-03 08:26:00,0.30,Regular Air,15.22,17850
4,536365,22752,2,2010-12-01 08:26:00,2010-12-04 08:26:00,0.57,Delivery Truck,5.81,17850

In [ ]:
# Make [customerID , StockCode] a multi-index.
data1.groupby(['CustomerID', 'StockCode'])['Quantity'].sum()

In [ ]:
# Change from multi-index to array CustomerIDs by StockCodes. 
data1.groupby(['CustomerID', 'StockCode'])['Quantity'].sum().unstack().head(3)

In [ ]:
# Most entries are NaN->0. 
data1.groupby(['CustomerID', 'StockCode'])['Quantity'].sum().unstack().fillna(0).head(3)

In [ ]:
# Transform entries to 0,1. 
purchase_df = (
    data1.groupby(['CustomerID', 'StockCode'])['Quantity'].sum()\
        .unstack().fillna(0).map(bool).map(int)
)

#Visually inspect.
print(purchase_df.shape)
print(purchase_df.sum().head())
purchase_df.head()

The library Sklearn has a function to transform a list of vectors to matrix of "distances". We will use cosine similarity here.

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

user_similarities = cosine_similarity(X=purchase_df) # No Y=> create matrix.
print(user_similarities.shape)

# Storing the similarity scores in a dataframe, i.e., the similarity scores matrix
user_similarity_data = pd.DataFrame(
    data=user_similarities,
    index=purchase_df.index,
    columns=purchase_df.index
)

# Close to 1 means similar, 0 means not similar.
user_similarity_data.head()

In [ ]:
def fetch_similar_users(user_id, n_users = 10):
    user_similarity = user_similarity_data[user_id]
    user_similarity = user_similarity[user_similarity!=1]
    return list(user_similarity.sort_values(ascending=False).index[:n_users])

fetch_similar_users(user_id = 12347, n_users=3)

In [ ]:
import random 

def user_user_recommendation(userid, n_users = 10, n_recommendations = 10):
    
    similar_users = fetch_similar_users(userid, n_users)
    # Obtain all items bought by similar users.
    recommendation_list = []
    for similar_user in similar_users:
        similar_user_filter = (data1["CustomerID"]==similar_user)
        item_list = data1[similar_user_filter]['StockCode'].to_list()
        recommendation_list += item_list
    return random.sample(recommendation_list, n_recommendations)    


print(f'Items bought by similar users based on Cosine Similarity:')

user_user_recommendation(
    userid = 12347, 
    n_users = 10, 
    n_recommendations = 2
)

### Item to item implementation

In [11]:
data1 = pd.read_csv("./Data/purchase_data.csv", index_col=0)
data1.head()

,InvoiceNo,StockCode,Quantity,InvoiceDate,DeliveryDate,Discount%,ShipMode,ShippingCost,CustomerID
0,536365,84029E,6,2010-12-01 08:26:00,2010-12-02 08:26:00,0.20,ExpressAir,30.12,17850
1,536365,71053,6,2010-12-01 08:26:00,2010-12-02 08:26:00,0.21,ExpressAir,30.12,17850
2,536365,21730,6,2010-12-01 08:26:00,2010-12-03 08:26:00,0.56,Regular Air,15.22,17850
3,536365,84406B,8,2010-12-01 08:26:00,2010-12-03 08:26:00,0.30,Regular Air,15.22,17850
4,536365,22752,2,2010-12-01 08:26:00,2010-12-04 08:26:00,0.57,Delivery Truck,5.81,17850

In [12]:
# Groupby is in reverse order from user-user example; items are now rows.
items_purchase_df = (data1.groupby(['StockCode','CustomerID'])['Quantity'].sum().unstack().reset_index().fillna(0).set_index('StockCode'))
# 1 for purchased, 0 for not
items_purchase_df = items_purchase_df.map(bool).map(int)

In [19]:
from sklearn.metrics.pairwise import cosine_similarity
# Applying Cosine similarity on the items
item_similarities = cosine_similarity(items_purchase_df)

# Storing the similarity scores in a dataframe
item_similarity_data = pd.DataFrame(
    item_similarities,
    index=items_purchase_df.index,
    columns=items_purchase_df.index
)

item_similarity_data.head()

StockCode,10002,10080,10120,10123C,10124A,10124G,10125,10133,10135,11001,...,90214R,90214S,90214V,90214Y,BANK CHARGES,C2,DOT,M,PADS,POST
StockCode,,,,,,,,,,,,,,,,,,,,,
10002,1.000000,0.0,0.108821,0.091287,0.0,0.000000,0.094281,0.062932,0.091902,0.110096,...,0.0,0.0,0.0,0.0,0.0,0.032275,0.0,0.079333,0.0,0.066986
10080,0.000000,1.0,0.000000,0.000000,0.0,0.000000,0.043033,0.028724,0.067116,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
10120,0.108821,0.0,1.000000,0.132453,0.0,0.000000,0.068399,0.068483,0.026669,0.079872,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.076739,0.0,0.013885
10123C,0.091287,0.0,0.132453,1.000000,0.0,0.000000,0.172133,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000
10124A,0.000000,0.0,0.000000,0.000000,1.0,0.288675,0.074536,0.049752,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.000000,0.0,0.000000

In [120]:
def fetch_similar_items(item_id, n_similar_items=10):
    # Get similarity values index by StockCode
    similarity_series = item_similarity_data[item_id]
    # Remove entries with similarity 1.
    similarity_series = similarity_series[similarity_series != 1]
    sorted_similarity_series = similarity_series.sort_values(ascending=False)
    top_similarity_items = list(
        sorted_similarity_series[:n_similar_items].index
    )
    top_similarity_scores = list(sorted_similarity_series[:n_similar_items])
    # One might remove items already purchased...
    return  top_similarity_scores, top_similarity_items

fetch_similar_items(item_id='10002',n_similar_items=3)

([1.0000000000000002, 0.19764235376052372, 0.18446619684315546],
 ['10002', '21826', '21439'])

In [121]:
a = {1:2}
b={3:4}
a |= b
a

{1: 2, 3: 4}

In [123]:
import random 
def similar_item_recommendation(
    userid, n_similar_items=10, n_recommendations = 10):
    
    # Obtain all items bought by user.
    user_item_list = data1[data1["CustomerID"]==userid]['StockCode'].to_list()
    # Obtain all the similar items to items bought by user.
    recommendation_dict = dict()
    for item in user_item_list:
        recommendation_dict |= dict(zip(*fetch_similar_items(
            item_id = item, 
            n_similar_items = n_similar_items
        )))
    # Remove items the customer already bought.
    recommendation_dict = {score:item 
                           for score,item in recommendation_dict.items()
                           if i not in user_item_list}
    # Sort on scores (which are keys).
    recommendations = sorted(recommendation_dict.items())[:n_recommendations]
    return [item for score,item in recommendations]

print('Similar items bought by other users based on Cosine Similarity:')

similar_item_recommendation(
    userid=12347,
    n_similar_items=10, 
    n_recommendations = 4
)

Similar items bought by other users based on Cosine Similarity:

['20780', '84968F', '84859B', '21056']

### Collaborative filtering via kNN

The sklearn kNN algorithm works well with sparse matrix data type.

In [124]:
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors

purchase_matrix = csr_matrix(purchase_df.values)
knn_model = NearestNeighbors(metric = 'euclidean', algorithm = 'brute')
knn_model.fit(purchase_matrix)

NameError: name 'purchase_df' is not defined

Before we construct functions to return similar users and to return item recommendataions, understand the output of the method `.neighbors`

In [125]:
query_index = 1497 
distances, indices = knn_model.kneighbors(
    # Required shape for X: (n_queries, n_features)
    # thus reshape column to row.
    X = purchase_df.iloc[query_index,:].values.reshape(1, -1), 
    n_neighbors = 5,
    return_distance = True # The default
)

print(f"The nearest users are {indices[0]}.") # a list with list for each query.
print(f"The distances to these are {distances[0]}.", )

NameError: name 'knn_model' is not defined

Note that the query itself is listed as a NN.

In [126]:
def fetch_similar_users_knn(purchase_df,CustomerID):
    # Get row numbers of nearest neighors including self. 
    indices = knn_model.kneighbors(
        purchase_df.iloc[CustomerID,:].values.reshape(1, -1), 
        n_neighbors = 5,
        return_distance=False
    )
    # Row number index to CustomerID
    NN_indices = indices[0][1:]
    NNs = [purchase_df.index[NN_index] for NN_index in NN_indices]
    return NNs

fetch_similar_users_knn(purchase_df,1497)

NameError: name 'purchase_df' is not defined

In [127]:
def knn_recommendation(simular_users_knn,n_recommendations=10):
    
    #obtaining all the items bought by similar users
    knn_recommnedations = []
    for j in simular_users_knn:
        item_list = data1[data1["CustomerID"]==j]['StockCode'].to_list()
        knn_recommnedations.append(item_list)
    
    #this gives us multi-dimensional list
    # we need to flatten it
    flat_list = []
    for sublist in knn_recommnedations:
        for item in sublist:
            flat_list.append(item)
    final_recommendations_list = list(dict.fromkeys(flat_list))
    
    # storing 10 random recommendations in a list
    ten_random_recommendations = random.sample(
        final_recommendations_list, 
        n_recommendations
    )
    
    #returning 10 random recommendations
    return ten_random_recommendations

print('Items bought by similar users based on KNN:')
knn_recommendation(
    simular_users_knn=fetch_similar_users_knn(
        purchase_df=purchase_df,
        CustomerID=1497
    ),
    n_recommendations =2 
)

Items bought by similar users based on KNN:

NameError: name 'purchase_df' is not defined

## Model Based Approach
### Collaborative filtering via Matrix Factorization

The suprise library is for RS's including collaborative filtering.

In [144]:
data4 = pd.read_csv("Data/quantity_of_purchases.csv", index_col=0)
data4.head(3)

      StockCode  CustomerID  Quantity
index
25530     10133       12347       124
43765     15036       12347       124
65647   15056BL       12347       124

The class `Reader` parses a table with columns
```python
user ; item ; rating ; [timestamp]
```
and `[timestamp]` appears to be optional.

In [185]:
from surprise import Reader

reader = Reader(
    rating_scale=(0,data4["Quantity"].max()) # rating is number purchased.
)

The class `Dataset` seems to have instances that can be interpreted as sparse arrays appropriate for the model in this section.

In [186]:
from surprise import Dataset
# This makes the matrix with missing entries.
formated_data = Dataset.load_from_df(
    df = data4, 
    reader = reader #
)

# Display as a df.
formated_data.df.head(3)

      StockCode  CustomerID  Quantity
index
25530     10133       12347       124
43765     15036       12347       124
65647   15056BL       12347       124

Surprise has a test-train split that allows validation of the model.

In [196]:
from surprise.model_selection import train_test_split, cross_validate, GridSearchCV
train_set, test_set = train_test_split(formated_data, test_size= 0.2)

In [204]:
# What the hell?
type(formated_data),type(train_set), type(test_set)

(surprise.dataset.DatasetAutoFolds, surprise.trainset.Trainset, list)

In [225]:
test_set[0]

('21527', 15453, 150.0)

In [228]:
formated_data.raw_ratings[0][:3]

('10133', 12347, 124.0)

In [240]:
# test elements are in set of all data
test_set[0][0] in [f[0] for f in formated_data.raw_ratings]

True

In [244]:
# Test elements are unknown to train set. 
train_set.knows_item(test_set[0])

False

Training: 

Non-negative matrix facorization transform a matrix with all positive entries to a sum of outer products of non-negative matrices with weights. Advantages over PCA:
- building blocks are non noegative
- building blocks are spares
- weights are positive 
- weights are spars 

The approximation is of a nxm matrix as the product of a nxk and kxm;
$$
r\approx \hat{r}_{ui} = q_i^Tp_u
 $$
 with gradient decent as 
$$
\begin{array}{cc}
p_{uf} 
& \leftarrow p_{uf} \cdot \frac{\sum_{i \in I_u} q_{if}
    \cdot r_{ui}}{\sum_{i \in I_u} q_{if} \cdot \hat{r_{ui}} +
    \lambda_u |I_u| p_{uf}}\\
    q_{if} &\leftarrow q_{if} 
    \cdot \frac{\sum_{u \in U_i} p_{uf}
    \cdot r_{ui}}{\sum_{u \in U_i} p_{uf} \cdot \hat{r_{ui}} +
    \lambda_i |U_i| q_{if}}\\
\end{array}
$$

In [200]:
formated_data.raw_ratings

In [193]:
blanks = train_set.n_items* train_set.n_users- train_set.n_ratings
print(f"The number of blank entries is {train_set.n_items}")

The number of blank entries is 568

In [183]:
from surprise.prediction_algorithms import NMF

# model fitting
algo1 = NMF(
    n_factors=15 # 15 default latent factors: nxm = nxk kxm
)
algo1.fit(train_set)

# Shapes are i disagreement with documentation;
algo1.qi.T.shape, algo1.pu.shape

((15, 568), (679, 15))

In [184]:
# Predictions are a score for each item-user pair. 
# In this case, the score is a prediction for number to buy. 
pred1 = algo1.test(test_set, verbose= False)

pred1[:3]

[Prediction(uid='21715', iid=16550, r_ui=251.0, est=5.522815053605057, details={'was_impossible': False}),
 Prediction(uid='15056BL', iid=13209, r_ui=238.0, est=5.330702545197154, details={'was_impossible': False}),
 Prediction(uid='21509', iid=15152, r_ui=147.0, est=3.295781492304288, details={'was_impossible': False})]

In [212]:
print(f"It is predictied that user {pred1[0].uid} will buy {pred1[0].est} of item {pred1[0].iid}.")

It is predictied that user 21715 will buy 5.522815053605057 of item 16550.

In [205]:
from surprise.model_selection import cross_validate

cross_validate(
    algo = algo1, 
    data=formated_data, 
    verbose=True
)

Evaluating RMSE, MAE of algorithm NMF on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    429.2180425.0081428.7602428.0486430.2707428.26111.7793
MAE (testset)     272.8918272.2150272.5034272.7408273.2836272.72690.3604
Fit time          5.86    5.94    6.04    5.95    6.00    5.96    0.06
Test time         0.27    0.25    0.79    0.22    0.22    0.35    0.22

{'test_rmse': array([429.2179615 , 425.00812017, 428.76016757, 428.0486074 ,
        430.27071511]),
 'test_mae': array([272.89180274, 272.21496154, 272.50341363, 272.74084923,
        273.28356436]),
 'fit_time': (5.86180305480957,
  5.943439245223999,
  6.036020994186401,
  5.9522480964660645,
  6.001868724822998),
 'test_time': (0.26941609382629395,
  0.24709606170654297,
  0.7868602275848389,
  0.22133708000183105,
  0.21563410758972168)}

### Co-Clustering

Simultaneously cluster columns and rows of a matrix.... I hate this book.

In [251]:
from surprise.prediction_algorithms import CoClustering

In [89]:
# defining the model
algo2 = CoClustering()

# model fitting
algo2.fit(train_set)

# model prediction
pred2 = algo2.test(test_set)


cross_validate(algo2, formated_data, verbose=True)